.top-banner{
	display: block;
	text-align: center;
	background-color:rgba(68,226,243,.6);
	width: 100%;

}

.freeshipping{
	position: absolute;
	padding-left: 550px;
	top: 25px;
	color: #F347DF;


}
.top-banner img{
	width: 100%;
	height:100px;
}
h1{
	font-family:'Source Sans Pro',sans-serif;
	font-weight:700;
	font-size: 25px;
	margin-top: 10px;
}
nav{
	position: fixed;
}
.navbar-default{
	background-color:rgba(200,173,168,.8);
	margin: 0px;
	width: 100%;
	position: fixed;
	height: 50px;
	z-index: 999;

}


.btn-default{
	background-image: none;
}

.glyphicon-shopping-cart{
font-size: 20px;
}


video#bgvid { 
    width: 100%;
    z-index: -100;
    background: url(../img/snowboarding-clip.png) no-repeat;
    display: block;
    object-fit: cover;
}

.clip {
	height: 600px;
	overflow: hidden;
}


.navbar-default .navbar-brand {
	padding: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #FFFFFF; 
}

ul.nav.navbar-nav{
	padding-left: 300px;
}

ul.nav.navbar-nav.navbar-right{
	padding-left: 50px;
}

ul.navbar-nav li {
	padding-left: 10px;
	padding-right: 10px;
}








