.top-banner{
	display: block;
	text-align: center;
	padding: 13px 0;
	background-color:yellow;
	width: 100%
}
/*.promo-text{
	font-family:'Oswald', sans-serif;
	font-weight: 700;
	display: bold;
	text-align: center;
	color: black;
}*/

h1{
	font-family:'Source Sans Pro',sans-serif;
	font-weight:700;
}
nav{
	position: fixed;
}
.navbar-default{
	background-color:rgba(200,173,168,.5);
	margin: 0px;

}


.btn-default{
	background-image: none;
}

.glyphicon-shopping-cart{
font-size: 20px;
}


video#bgvid { 
    width: 100%;
    z-index: -100;
    background: url(../img/snowboarding-clip.png) no-repeat;
    display: block;
    object-fit: cover;
}

.clip {
	height: 600px;
	overflow: hidden;
}


.navbar-default .navbar-brand {
	padding: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #FFFFFF; 
}

ul.nav.navbar-nav{
	padding-left: 150px;
}

.navbar-nav>li>a {
	padding-left: 25px;
	padding-right: 25px;
}


